.dropdown {
  position: absolute;
  z-index: 1;
  right: 0%;
  width: 100%;
  transition-duration: 0.5s;

  display: flex;
}
.dropdown.inactive {
  height: 10px;
}
.dropdown.active {
  height: 17vh;
  background-color: #FFFCF2;
  align-items: center;
  border-bottom: #575761;
  border-bottom-style:double;
  border-width: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 800px) {
  .dropdown.active {
      height: 20vh;
  }
}

@media only screen and (max-width: 555px) {
  .dropdown.active {
      height: 30vh;
  }
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  width: 100%;
  margin: auto;
  position: absolute;
  top: -100px;
  opacity: 0;
  transition: all ease 0.5s;
}
.filterContainer.active {
  top: 5%;
  opacity: 1;
}

.filter {
  background-color: transparent;
  border-radius: 10px;
  border-color: #403D39;
  border-width: 2px;
  border-style: hidden;
  padding: 1.5%;
  margin: 1%;
  white-space: pre-wrap;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .inactive .filter {
  display: none;
  visibility: hidden;
} */

button {
  background-color: white;
  border-radius: 100%;

  border: none;
  cursor: pointer;
  transition-duration: 0.5s;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 40px;
  margin-right: 2%;
}

.arrow-button img {
  height: 0.1%;
  width: auto;
}
.active button {
  transform: scaleY(-1);
  background-color: transparent;
}

.arrow-button {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 3em;
  margin: -3em;
  text-align: center;
  justify-content: center;
  align-items: center;
}