.description {
  transition-duration: 0.5s;
  position: relative;
  padding-top: 0.5%;
}

.old {
  position: absolute;
  padding-top: 0.5%;
  
  top: 0%;
  left: 0;
  right: 0;
  margin: auto;
  animation: slide_out 0.5s forwards, fadeOut 0.1s forwards 1s;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0; display: none; visibility: hidden;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0; display: none; visibility: hidden;}
}

.current {
  animation: slide_in 0.5s forwards;
}

@keyframes slide_in {
  0% { transform: translateX(-100%); display: none; visibility: hidden; }
  100% { transform: translateX(0%); }
}

@keyframes slide_out {
  0% { transform: translateX(0%); }
  75% { transform: translateX(100%); display: none; visibility: hidden; }
  100% { transform: translateX(0%); display: none; visibility: hidden; }
}

a {
  color: black
}
