.description {
  transition-duration: 0.5s;
  position: relative;
  padding-top: 0.5%;
}

.old {
  position: absolute;
  padding-top: 0.5%;
  
  top: 0%;
  left: 0;
  right: 0;
  margin: auto;
  
  animation: slide_out 0.5s forwards;
}

.current {
  animation: slide_in 0.5s forwards;
}

@keyframes slide_in {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

@keyframes slide_out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}

a {
  color: black
}