.dropdown {
  position: absolute;
  z-index: 1;
  right: 0%;
  width: 100%;
  transition-duration: 0.5s;

  display: flex;
}
.dropdown.inactive {
  height: 10px;
}
.dropdown.active {
  height: 200px;
  background-color: white;
  align-items: center;

}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 50px;
  width: 100%;
}

.filter {
  /* background-color: bisque;
  border-radius: 10px;
  border-color: black;
  border-width: 3px;
  border-style: solid; */
  padding: 2.5%;
  white-space: pre-wrap;
  text-align: center;
  width: 200px;
}
.inactive .filter {
  display: none;
  visibility: hidden;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition-duration: 0.5s;
  font-size: 40px;

  margin-top: auto;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: 0;
}
.active button {
  transform: scaleY(-1);
}